.custom-text {
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    /* Force le texte à rester sur une seule ligne */
    text-align: left;
    /* Centre le texte à gauche */
}